body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    position: relative;
    width: 80%;
    max-width: 800px;
    left: 15%;
}
.container img {
    width: 700px;
    height: auto;

}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}