.header {
    background-image: url('../img/1.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 0;
  }
  .features .icon {
    font-size: 50px;
    margin-bottom: 20px;
  }